<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="User.ZArc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <User.ZArc.Properties.Settings>
      <setting name="ColorBackground" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorForeground" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ColorError" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="OverrideColor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowInteractive" serializeAs="String">
        <value>True</value>
      </setting>
    </User.ZArc.Properties.Settings>
  </applicationSettings>
</configuration>